<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=4d79205ec9df2788a83b65e2dc4c9f8b&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.juimg.com%2Ftuku%2Fyulantu%2F121026%2F240425-12102621214288.jpg</string>
		<key>userid</key>
		<string>1</string>
		<key>username</key>
		<string>沙</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=f6ff0fd5b8a1a45dd330e6ce9090b18d&amp;imgtype=0&amp;src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fdbb44aed2e738bd4841e5f8ca38b87d6277ff954.jpg</string>
		<key>userid</key>
		<string>2</string>
		<key>username</key>
		<string>张</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=fae61aaea9b78430ebc685652083268c&amp;imgtype=0&amp;src=http%3A%2F%2Fi.shangc.net%2F2017%2F1130%2F20171130012736585.jpg</string>
		<key>userid</key>
		<string>3</string>
		<key>username</key>
		<string>先</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=4684f020b10d4c804636e1ee0d676c56&amp;imgtype=0&amp;src=http%3A%2F%2Fwww.ttpaihang.com%2Fimage%2Fvote%2F20111025163715399909.jpg</string>
		<key>userid</key>
		<string>4</string>
		<key>username</key>
		<string>阿赛</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554483429&amp;di=0642fbafcf2398a91f82b04afa729561&amp;imgtype=jpg&amp;src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D3823040042%2C3335883234%26fm%3D214%26gp%3D0.jpg</string>
		<key>userid</key>
		<string>6</string>
		<key>username</key>
		<string>德亮</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554483429&amp;di=0642fbafcf2398a91f82b04afa729561&amp;imgtype=jpg&amp;src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D3823040042%2C3335883234%26fm%3D214%26gp%3D0.jpg</string>
		<key>userid</key>
		<string>1</string>
		<key>username</key>
		<string>华仔</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348384&amp;di=9e6f0a9d547ba2ac197e067df1dd1c2f&amp;imgtype=0&amp;src=http%3A%2F%2Fpic5.nipic.com%2F20100107%2F267398_232153032946_2.jpg</string>
		<key>userid</key>
		<string>1</string>
		<key>username</key>
		<string>学友</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=120042472,359805317&amp;fm=27&amp;gp=0.jpg</string>
		<key>userid</key>
		<string>1</string>
		<key>username</key>
		<string>德桐</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=4d79205ec9df2788a83b65e2dc4c9f8b&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.juimg.com%2Ftuku%2Fyulantu%2F121026%2F240425-12102621214288.jpg</string>
		<key>userid</key>
		<string>1</string>
		<key>username</key>
		<string>大司马</string>
	</dict>
	<dict>
		<key>username</key>
		<string>name</string>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=4d79205ec9df2788a83b65e2dc4c9f8b&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.juimg.com%2Ftuku%2Fyulantu%2F121026%2F240425-12102621214288.jpg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>ss德桐</string>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348385&amp;di=4d79205ec9df2788a83b65e2dc4c9f8b&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.juimg.com%2Ftuku%2Fyulantu%2F121026%2F240425-12102621214288.jpg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>学友</string>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348384&amp;di=9e6f0a9d547ba2ac197e067df1dd1c2f&amp;imgtype=0&amp;src=http%3A%2F%2Fpic5.nipic.com%2F20100107%2F267398_232153032946_2.jpg</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348384&amp;di=9e6f0a9d547ba2ac197e067df1dd1c2f&amp;imgtype=0&amp;src=http%3A%2F%2Fpic5.nipic.com%2F20100107%2F267398_232153032946_2.jpg</string>
		<key>username</key>
		<string>学友</string>
	</dict>
	<dict>
		<key>username</key>
		<string>学友</string>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348384&amp;di=9e6f0a9d547ba2ac197e067df1dd1c2f&amp;imgtype=0&amp;src=http%3A%2F%2Fpic5.nipic.com%2F20100107%2F267398_232153032946_2.jpg</string>
	</dict>
	<dict>
		<key>headerImage</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1536554348384&amp;di=9e6f0a9d547ba2ac197e067df1dd1c2f&amp;imgtype=0&amp;src=http%3A%2F%2Fpic5.nipic.com%2F20100107%2F267398_232153032946_2.jpg</string>
		<key>username</key>
		<string>学友</string>
	</dict>
</array>
</plist>
